
body {
  text-align : center;
}
.head, .foot, .content {
  padding : 40px 0px 40px 0px;
}
.size {
  	min-width: 33%;
}

.chatBox {
  width: 360px;
  height: 480px; 
  /* border: 1px solid black; */
}
.textMsg {
  border: .5px solid grey;
  margin : 0px;
  padding: 12px 5px;
  display: inline-block;
  width : 360px;
  height: 410px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
}
.inputMsg {
  width: 280px;
  box-sizing: border-box;
  margin: 2px 0px 2px 0px;
  padding: 12px 20px; 
  background-color: #3CBC8D;
  color: white;
  border: 2px solid silver;
  border-radius: 4px;
}
.textField {
  display: inline-block;
}
.formButton{
  padding: 6px 10px;
}


.leftAlign, .rightAlign  {
  background-color: palegreen;
  border: 1px solid grey;
  max-width: 60%;
  border-radius: 15px;
  word-wrap: break-word;
  overflow: auto;
  padding: 2px 10px 2px 20px;
  margin: 5px 0px;  
}

.rightAlign {
  text-align: left;
  margin-left: 40%;
}

.leftAlign {
  text-align: left;
}

.textPopupName {
  font-size: 12px;
  color: rgb(255, 0, 0);
}

.textPopupContent {
  font-size: 16px;
  color: rgb(0, 89, 101);
}

ol {
	list-style-type: none;
}


@media only screen and (max-width : 480px) {
  .hideOnPhone {
    display: block;
  }
	.size {
		min-width: 80%;
	}
	
}

