<!DOCTYPE html>
<html lang="en">
<head>
  <title> Good Portal </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Vipul Bhardwaj">

  <!-- Bootstrap core CSS -->
  <link href="{{  url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')  }}" rel="stylesheet">

  <!-- Custom styling -->
  <link href="{{  url_for('static',filename='style.css')  }}" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</head>

<body>
  <div class="container-fluid head">
    {% block head %}{% endblock %}
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-4 col-md-auto size hideOnPhone">
        <!-- Codes -->
          <ol>
		  	<li><a href="Java/BufferPrac.java"> Buffered Reader</a></li>
			<li><a href="Java/Inheritance.java">Inheritance</a></li>
			<li><a href="Java/InsertionSort.java"> Insertion Sort</a></li>
			<li><a href="Java/SelectionSort.java">Selection Sort</a></li>
			<li><a href="Java/Polymorphism.java">Polymorphism </a></li>
		    <li><a href="Java/StringMethods.java">String Methods </a></li>
			<li><a href="{{ url_for('java') }}">Test</a></li>
		  </ol>
      </div>
      <div class="col-4 col-md-auto size">
          <div class="chatBox">
            <div class="textMsg" id="msgBoxContainer">
              <!-- Messages wrapper in p -->
              <!-- Jinja generated -->
              {% block pm %}{% endblock %}
            </div>
            <div class="textField">
              <form action="{{ url_for('message') }}" method="post">
                <input class="inputMsg" type="text" name="msg" placeholder="Enter Message Here" autofocus>
                <button class="fornButton">Send</button>
              </form>
            </div>
          </div>
        </div>
      <div class="col-4 col-md-auto size hideOnPhone">
        <!-- Screen shots -->
          <ol>
		  	<li><a href="#"> Experiment 1 Screenshot </a></li>
			<li><a href="#"> Experiment 2 Screenshot</a></li>
			<li><a href="#"> Experiment 3 Screenshot</a></li>
			<li><a href="#"> Experiment 4 Screenshot</a></li>
			<li><a href="#"> Experiment 5 Screenshot</a></li>
		  </ol> 
      </div>
    </div>
  </div>

  
  <script src="{{ url_for('static',filename='reload.js') }}"></script>

</body>
</html>
